/* Geral*/
* {
  margin: 0;
}

:root {
  /*colors*/
  --first--color: hsl(301, 60%, 29%);
  --second-color: hsl(301, 38%, 44%);

  --text: hsl(0, 0%, 100%);
}

/* navbar*/
.text-decorator {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.typographyNav {
  font-family: 'Poppins', sans-serif !important;
}

/* 
.text-decorator:hover {
  text-decoration: underline;
  transition: 2ms;
  padin
}  */

.cursor {
  cursor: pointer;
  color: white;
}

.appBar {
  background-color: var(--first--color) !important;
  padding: 0.7rem;
}

.options {
  pointer-events: all;
  opacity: 0;
  visibility: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  /*overflow-x: hidden;*/
  /*overflow: hidden;*/
}

/*.icon-menu {
  background-color: aqua !important;
}*/

/* responsividade */
@media (min-width: 900px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  .options {
    opacity: 1;
    visibility: visible;
  }

  .icon-menu {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 3;
  }
}

/*arrumar responsividade em dispositivos menores*/
